@model ViewModels.UploadFile


@{
    ViewBag.Title = "ایمپورت فایل اکسل";
}
<h2>@ViewBag.Title</h2>
<style >
	.alert {
		font-size: 100%;
	}
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken();
  
	<div class="container">
		<div class="row">
        <div class="col-md-12"> <div class="form-horizontal">
            @Html.ValidationSummary("", new { @class = "text-danger" })
	        @if (TempData["invalidColor"] != null)
	        {
		        <p class="alert alert-danger">
			        @TempData["invalidColor"]
		        </p>
					}
					else if (TempData["success"] != null)
					{
							<p class="alert alert-success">
								@TempData["success"]
							</p>
					}
            <div class="form-group">
               اکسل
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ExcelFile, new { type = "file", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ExcelFile, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type = "submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div></div>
			<div class="col-md-12 alert alert-info">
				<h2>قبل از بارگزاری حتما به نکات زیر توجه کنید</h2>
				<ul>
					<li>نام شیت اکسل حتما Sheet1 باشد</li>
					<li>ترتیب ستون ها به این شکل باشد:
						<ol>
							<li>
								ستون 1: شماره نقشه
							</li>
							<li>
						    
								ستون2: رنگ زمینه</li>
							<li>
								ستون 3: سایز
							</li>
							<li>
								ستون 4: تعداد شانه
							</li>
							<li>
								ستون 5: تعداد رنگ
							</li>
							<li>
								ستون 6: تراکم
							</li>
							<li>
								ستون 6: قیمت
							</li>
							<li>
								ستون 6: موجودی
							</li>
						</ol>  
					</li>
				
					<li>فایل نمونه اکسل را از
						<a href="/Uploads/sample-excel.xls">
							اینجا
						</a> دانلود کنید.
					</li>
				 
				</ul>
		   
			</div>

    </div>
	</div>
}