
@model ViewModels.BlogListViewModel
@{
		ViewBag.Title = "وبلاگ";
		Layout = "~/Views/Shared/FrontEnd/_FronEndLayout.cshtml";
		ViewBag.Canonical = "https://khoshdast.ir/blog/"+Model.BlogGroup.UrlParam;

}

<div class="breadcrumb_section bg_gray page-title-mini">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="page-title">
					<h1>@Model.BlogGroup.Title</h1>
				</div>
			</div>
			<div class="col-md-6">
				<ol class="breadcrumb justify-content-md-end">
					<li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
					<li class="breadcrumb-item active">@Model.BlogGroup.Title</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="main_content">
	<div class="section">
		<div class="container">
			<div class="row">
				@foreach (var blog in Model.Blogs)
				{
					<div class="col-lg-4 col-md-6 grid_item">
						<div class="blog_post blog_style2 box_shadow1">
							<div class="blog_img">
								<a href="/blog/post/@blog.UrlParam">
									<img src="@blog.ImageUrl" alt="@blog.Title">
								</a>
							</div>
							<div class="blog_content bg-white">
								<div class="blog_text">
									<h2 class="blog_title"><a href="/blog/post/@blog.UrlParam">@blog.Title</a></h2>
									<ul class="list_none blog_meta">
										<li><a href="#"><i class="ti-calendar"></i> @blog.CreationDateStr</a></li>
										<li><a href="#"><i class="ti-eye"></i> @blog.Visit</a></li>
									</ul>
									<p>
										@blog.Summery
									</p>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

