@model Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parent.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductGroup.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductGroup.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TitleEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesignNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesignNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageTitleEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageTitleEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageDescriptionEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageDescriptionEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyEn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyEn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInPromotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInPromotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsInHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsInHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
