@model ViewModels.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="وب سایت رسمی فرش مشهد بزرگترین تولید کننده فرش ماشینی در ایران">
	<link rel="canonical" href="https://www.mashadcarpet.com/" />
	
	<title>وب سایت رسمی شرکت فرش مشهد</title>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
	<link rel="stylesheet" href="/assets/css/animate.css">
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/ionicons.min.css">
	<link rel="stylesheet" href="/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/assets/css/linearicons.css">
	<link rel="stylesheet" href="/assets/css/flaticon.css">
	<link rel="stylesheet" href="/assets/css/simple-line-icons.css">
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.css">
	<link rel="stylesheet" href="/assets/owlcarousel/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/slick-theme.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/responsive.css">

	<link rel="stylesheet" href="/assets/css/rtl-style.css">
	<link href="~/assets/css/style-zavosh.css" rel="stylesheet" />
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-73802235-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>

<body dir="rtl">

@Html.Partial("FrontEnd/_MenuPartial")
 
<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
		<div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active background_bg" data-img-src="/assets/images/banner1.jpg" onclick="window.location.href='/pro';">
					<div class="banner_slide_content">
					</div>
				</div>
				<div class="carousel-item background_bg" data-img-src="/assets/images/banner2.jpg" onclick="window.location.href='/pro';">
					<div class="banner_slide_content">
					</div>
				</div>
				<div class="carousel-item background_bg" data-img-src="/assets/images/banner3.jpg" onclick="window.location.href='/pro';">
					<div class="banner_slide_content">
					</div>
				</div>
		 
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><i class="ion-chevron-left"></i></a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><i class="ion-chevron-right"></i></a>
		</div>
	</div>

<div class="section small_pb small_pt bg-blue">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="heading_s4 text-center">
						<h2>فروشگاه اینترنتی فرش مشهد</h2>
					</div>
					<p class="text-center leads">محصولات فروشگاه اینترنتی فرش مشهد را می توانید در قالب گروه های زیر مشاهده و خریداری نمایید.</p>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12">
					<div class="cat_slider cat_style1 mt-4 mt-md-0 carousel_slider owl-carousel owl-theme nav_style5" data-loop="true" data-autoplay="true" data-dots="false" data-nav="true" data-margin="30" data-responsive='{"0":{"items": "2"}, "480":{"items": "3"}, "576":{"items": "2"}, "768":{"items": "4"}, "991":{"items": "4"}, "1199":{"items": "4"}}'>
					
						@foreach (var productGroup in Model.ProductGroups)
						{
							<div class="item">
								<div class="categories_box">
									<a href="/carpet-online-shopping/@productGroup.UrlParam">
										<img src="@productGroup.ImageUrl" alt="@productGroup.Title" />
										<span>@productGroup.Title</span>
									</a>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="main_content">
 
		<div class="section small_pt pb_70">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s1 text-center">
							<h2>برترین محصولات فرش مشهد</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="tab-style1">
						 
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
								<div class="row shop_container">
									@foreach (var product in Model.TopProducts)
									{
										<div class="col-lg-3 col-md-4 col-6">
											<div class="product">
												<div class="product_img">
													<a href="/carpet-online-shopping/@product.Product.ProductGroup.UrlParam/@product.Product.Code">
														<img src="@product.Product.ImageUrl" alt="@product.Product.Title">
													</a>
													<div class="product_action_box">
														<ul class="list_none pr_action_btn">
															@foreach (var size in product.Sizes)
															{
																<li><a href="#"><span>@size</span></a></li>
															}
														</ul>
													</div>
												</div>
												<div class="product_info">
													<h6 class="product_title"><a href="/carpet-online-shopping/@product.Product.ProductGroup.UrlParam/@product.Product.Code">@product.Product.Title</a></h6>
													<div class="product_price">
														@if (product.Product.IsInPromotion)
														{
															<span class="price">@product.Product.DiscountAmountStr</span>
															<del>@product.Product.AmountStr</del>
														}
														else
														{
															<span class="price">@product.Product.AmountStr</span>
														}
													</div>
										 
													<div class="card-btn">
														<a class="btn btn-fill-out rounded-0" href="/carpet-online-shopping/@product.Product.ProductGroup.UrlParam/@product.Product.Code">مشاهده محصول</a>
													</div>
												</div>
											</div>
										</div>
									}
						
					 
								</div>
							</div>
				 
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section bg_light_blue2 pb-0 pt-md-0">
			<div class="container">
				<div class="row align-items-center flex-row-reverse">
					<div class="col-md-6 offset-md-1">
						<div class="medium_divider d-none d-md-block clearfix"></div>
						<div class="trand_banner_text text-center text-md-left">
							<div class="heading_s1 mb-3">
								<span class="sub_heading">خرید آنلاین فرش ماشینی</span>
								<h2>فرش مشهد، اصیل و ماندگار</h2>
							</div>
							<h5 style="font-size:1.1rem" class="mb-4">قیمت های مندرج در سایت بدون محاسبه ی ۹٪ مالیات و عوارض می باشد</h5>
							<a href="/carpet-online-shopping" class="btn btn-fill-out rounded-0">مشاهده محصولات</a>
						</div>
						<div class="medium_divider clearfix"></div>
					</div>
					<div class="col-md-5">
						<div class="text-center trading_img">
							<img src="/assets//images/banner1111.jpg" alt="tranding_img" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s1 text-center">
							<h2>جدیدترین محصولات</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="product_slider carousel_slider owl-carousel owl-theme nav_style1" data-loop="true" data-dots="false" data-nav="true" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
					
							@foreach (var product in Model.NewestProducts)
							{
							<div class="item">
								<div class="product">
									<div class="product_img">
										<a href="/carpet-online-shopping/@product.Product.ProductGroup.UrlParam/@product.Product.Code">
											<img src="@product.Product.ImageUrl" alt="@product.Product.Title">
										</a>
										<div class="product_action_box">
											<ul class="list_none pr_action_btn">
												@foreach (var size in product.Sizes)
												{
													<li><a href="#"><span>@size</span></a></li>
												}
											</ul>
										</div>
									</div>
									<div class="product_info">
										<h6 class="product_title"><a href="/carpet-online-shopping/@product.Product.ProductGroup.UrlParam/@product.Product.Code">@product.Product.Title</a></h6>
										<div class="product_price">
											@if (product.Product.IsInPromotion)
											{
												<span class="price">@product.Product.DiscountAmountStr</span>
												<del>@product.Product.AmountStr</del>
											}
											else
											{
												<span class="price">@product.Product.AmountStr</span>
											}
										</div>
										 
										<div class="card-btn">
											<a class="btn btn-fill-out rounded-0" href="/carpet-online-shopping/@product.Product.ProductGroup.UrlParam/@product.Product.Code">مشاهده محصول</a>
										</div>
									</div>
								</div>
							</div>
						}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION SHOP -->
		<!-- START SECTION TESTIMONIAL -->
		<div class="section bg-blue">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6">
						<div class="heading_s1 text-center">
							<h2>سایر کارخانجات گروه صنعتی ممشهد</h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-9">
						<div class="testimonial_wrap testimonial_style1 carousel_slider owl-carousel owl-theme nav_style2" data-nav="true" data-dots="false" data-center="true" data-loop="true" data-autoplay="true" data-items='1'>
							<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت ریسندگی مشهد در سال ۱۳۶۹ با ظرفیت تولید سالانه ۳۸۰۰ تن نخ اکریلیک آغاز به کار کرد و اکنون با تکیه بر کادر مجرب، ظرفیت تولید را به ۵۲۰۰ تن نخ اکریلیک نمره ۱۲ دولا، مورد استفاده در صنعت فرش ماشینی، افزایش داده است.
									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/1.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت ریسندگی مشهد</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت رنگرزی مشهد در سال ۱۳۷۲، با ظرفیت تولید سالانه ۴۵۰۰ تن الیاف اکریلیک آغاز به کار کرد و در حال حاضر ظرفیت تولید آن سالانه ۱۱،۰۰۰ تن رنگرزی الیاف اکریلیک و ۱۰۰ تن نخ پشم می باشد. شرکت رنگرزی مشهد یکی از بزرگترین واحد های تولیدی رنگرزی الیاف کشور می باشد.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/2.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت رنگرزی مشهد
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت فرش نگین یکی از بزرگترین و معتبرترین تولید کنندگان فرش ماشینی محسوب میشود که تولیدات آن عمدتاً فرشهای مرغوب ۵۰۰ شانه و ۷۰۰ شانه در طرح های سنتی و مدرن می باشد.‪ ‬شرکت فرش نگین در سال ۱۳۷۱ تاسیس و به بهره برداری رسیده است.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/3.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت فرش نگین
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت چرم مشهد با هدف رونق بخشیدن به تولیدات صنایع ملی بازار چرم، سال ۱۳۷۵ در زمینی به مساحت چهل هزار مترمربع به بهره برداری رسید. محصولات چرمی این کارخانه از چرم درجه یک و بسیار لطیفی تولید می شود که حاصل کار دست صنعتگران ماهر به همراه جدیدترین تکنولوژی صنعت چرم دنیاست.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/4.jpg" />
									</div>
									<div class="author_name">
										<h6>شرکت چرم مشهد
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										این شرکت بزرگترین و اولین تولید کننده انواع نان های ایرانی و اروپایی از جمله نان سنگگ، بربری، تافتون، انواع نانهای شیرین، دانمارکی و مافین به روش صنعتی با همکاری شرکتهای KONIG آلمان و BOHLER سوئیس در محیطی کاملا بهداشتی و بدون دخالت دست با ماشین آلات اتوماتیک و تکنولوژی روز دنیا می باشد.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/5.jpg" />
									</div>
									<div class="author_name">
										<h6>گندم دشت مشهد
										</h6>
									</div>
								</div>
							</div>
					
							
		<div class="testimonial_box">
								<div class="testimonial_desc">
									<p>
										شرکت حوله یاس سپید مشهد بزرگترین تولید کننده انواع حوله با ظرفیت بیش از 5 تن در روز با استفاده از پیشرفته ترین ماشین آلات اروپایی در بهار 96 افتتاح گردید.

									</p>
								</div>
								<div class="author_wrap">
									<div class="author_img">
										<img src="~/assets/images/factory/6.jpg" />
									</div>
									<div class="author_name">
										<h6>حوله یاس سپید مشهد
										</h6>
									</div>
								</div>
							</div> 
							

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION TESTIMONIAL -->
		<!-- START SECTION SHOP INFO -->
	<div class="section pb_20">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-8">
					<div class="heading_s1 text-center">
						<h2>اخبار و تازه ها</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				@foreach (var blog in Model.Blogs)
				{
					<div class="col-lg-4 col-md-6">
						<div class="blog_post blog_style2 box_shadow1">
							<div class="blog_img">
								<a href="/blog/post/@blog.UrlParam">
									<img src="@blog.ImageUrl" alt="el_blog_img1">
								</a>
							</div>
							<div class="blog_content bg-white">
								<div class="blog_text">
									<h5 class="blog_title"><a href="/blog/post/@blog.UrlParam">@blog.Title
									</a></h5>
									<ul class="list_none blog_meta">
										<li><a href="#"><i class="ti-calendar"></i>@blog.CreationDateStr</a></li>
										<li><a href="#"><i class="ti-comments"></i>@blog.CommentCount نظر</a></li>
									</ul>
									<p>@blog.Summery</p>
								</div>
							</div>
						</div>
					</div>
			
				}
			 
			</div>
		</div>
	</div>
@Html.Partial("FrontEnd/_NewsLetterPartial")

		

	</div>
 
@Html.Partial("FrontEnd/_FooterPartial")
 

	<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

	<!-- Latest jQuery -->
	<script src="/assets/js/jquery-1.12.4.min.js"></script>
	<!-- popper min js -->
	<script src="/assets/js/popper.min.js"></script>
	<!-- Latest compiled and minified Bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- owl-carousel min js  -->
	<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
	<!-- magnific-popup min js  -->
	<script src="/assets/js/magnific-popup.min.js"></script>
	<!-- waypoints min js  -->
	<script src="/assets/js/waypoints.min.js"></script>
	<!-- parallax js  -->
	<script src="/assets/js/parallax.js"></script>
	<!-- countdown js  -->
	<script src="/assets/js/jquery.countdown.min.js"></script>
	<!-- imagesloaded js -->
	<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
	<!-- isotope min js -->
	<script src="/assets/js/isotope.min.js"></script>
	<!-- jquery.dd.min js -->
	<script src="/assets/js/jquery.dd.min.js"></script>
	<!-- slick js -->
	<script src="/assets/js/slick.min.js"></script>
	<!-- elevatezoom js -->
	<script src="/assets/js/jquery.elevatezoom.js"></script>
	<!-- scripts js -->
	<script src="/assets/js/scripts.js"></script>

</body>
</html>